.navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 68px;
    background-color: rgba(255,255,255,0.95);
    border-bottom: 1px solid #dde3ed;
    z-index: 100;
    display: flex;
    align-items: center;
    padding: 0 5%;
}
body.dark.navbar{
    background-color: rgba(13,17,23,0.95);
    border-color: #30363d;
}

.nav-inner{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-self: center;

}

.logo{
    font-size:1.5rem;
    font-weight: 700;
    letter-spacing: 2px;
    color: #5a9ef5;
    cursor: default;
}

.nav-links{
    display:flex;
    align-items: center;
    gap: 24px;
    list-style: none;
}

.nav-links a{
    text-decoration: none;
    color: #1a1f2e;
    font-size: 0.9rem;
    font-weight: 500;
    transition: color 0.25s;
}

.nav-links a:hover{
    color: #5a9ef55a;
}

